body {
    margin: 0;
    background-color: #bfc1c1;
    color: white;
}
#info {
    margin-top: 30px;
    width: 60%;
    margin: auto;
    text-align: center;
    font-family: "Arial", Georgia, Serif;
    color: white;
    background-color: #575d5c;
    border-radius: 10px;
}
.uravnenie {
    width: 60%;
    margin: auto;
    border-radius: 10px;
}
.ogranichenie {
    width: 60%;
    margin: auto;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Firefox */

input[type="number"],
input[type="text"] {
    width: 80px;
    height: 40px;
    padding: 5px 5px;
    margin: 8px 0px;
    box-sizing: border-box;
}
input[type="number"]:focus,
input[type="text"]:focus {
    border: 3px solid #7496db;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
    width: 100%;
    background-color: #d0e6e6;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
select {
    margin-top: 5%;
    background-color: #ffffff;
}
a {
    color: rgb(60, 66, 60);
    font-size: bold;
    text-decoration: none;
}
#result {
    width: 100%;
    margin: auto;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}
.ogranichenie_add{
    width: 100px; 
    height: 50px; 
    border: 20px solid grey;
    
}
.submit{
    border: 20px solid grey;
    
}
#center{
    width: 45%;
    display: flex;
    justify-content: center;
}